@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;   
}
body{
    font-family: Gemunu libre, sans-serif;
    font-weight: 300;
    padding: 1em 1em;
    padding-top: 0.5em;
    background: linear-gradient(-45deg, #69ff8f, #e4ff6a, #bb3ce2, #d86d3b);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
header{
    border-radius: 1em;
    padding: 0.5em;
    position: fixed;
    width: 97%;
    border: 1px solid black;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
}
a{
    text-decoration: none;
    color: black;
}

/*Nav bar */
.logo{
    font-size: 170%;
    margin-left: 1em;
    cursor: pointer;
    width: 120px;
}

.active{
    border-top: 2px solid #1B16A4;
    font-weight: bold;
}
.active-mob{
    color: red;
    font-weight: bold;
}
.menu{
   position:absolute;
   right: 1em;
   top: 2.3em;
}
.menu ul{
    list-style: none;
    display: inline;
}
.menu ul li{
    display: inline;
    padding: 0em 1em;
    font-size: 1.5em;
}
.menu ul li a{
    padding-bottom: 5px;
    color: #1B16A4;
}
/*hoover style */
.menu ul li a:hover{
    border-bottom: 2px solid #1B16A4;
}
/*small screen nav*/
.mob-nav{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    display: none;
    text-align: left;
    width: 100%;
    border: 1px solid black;
    padding: 0.5em;
    border-radius: 10px;
}
.mob-nav h2 a{
    position:absolute;
    right: 2em;
    top: 1.5em;
}
.mob-list{
    display: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    /* position: absolute; */
}
.mob-list a{
    list-style: none;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}
.mob-menu{
    position:absolute;
    right: 1em;
    top: 0.1em;
}
.container{
    margin-top: 7em;
}

/* footer */
footer ul{
    background-color: darkgray;
    border-radius: 5px;
    padding: 0.25em 0em;
    margin-top: 0.75em;
    text-align: center;
}
footer ul li{
    display: inline;
    list-style: none;
    padding: 0em 1em;
    font-size: 230%;
}
footer ul li a{
    text-align: center;
}
/* main page */
.main-grid{
    margin-top: 1em;
    margin-bottom: 3em;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 50% 50%;
    border-bottom: 2px solid black;
    padding-bottom: 2em;
}
.image img{
    background-repeat: no-repeat;
    background-size: center;
    width: 100%;
    height: 500px;
    border-radius: 15px;
}

.home-about{
    text-align: center;
    padding-top: 4em;
    padding-bottom: auto;
    justify-content: center;
}

.home-about p{
    padding: 1em;
    text-align: justify;
    font-size: 1.2em;
}

.home-about h2{
    text-align: center;
    font-size: 55px;
    font-weight: bold;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 0.2px black;
 }
 .home-about button{
    text-decoration: none;
    text-align: center;
    background: none;
    padding: 5px 5px;
    color: white; 
    border: 2px solid red;
    background-color: red;
    font-weight: bold;
    border-radius: 5px;
}
.home-about button:hover {
    color: red;
    transition: 0.3s;
    transform: scale(1.5);
    border-color: white;
    background-color: white
}
#last-main-grid{
    border: none;
}

 /* apply form style */

 .apply-form{
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    margin-top: 2em;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);

}
.apply-form form p{
    margin-bottom: 5px;
}
.apply-form form{
    text-align: center;
}

.apply-form form h1{
    margin: 1em auto;
}
.apply-form form input,textarea{
    border: 1px solid black;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    width: 80%;
}
.apply-form form button {
    width: 80%;
    padding: 10px;
    margin-top: 2em;
    margin-bottom: 1em;
    border-radius: 20px;
    border: none;
    background: #040e44; 
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.apply-form form button:hover {
    background: #2f11b6;
} 
 /* About Us */
 .about-us-main{
    margin-top: 1em;
}
.about-us-main h2{
    text-align: center;
    margin-bottom: 0.5em;
}
.about-us-main p{
    text-align: justify;
}
.aboutus-main-grid{
    margin-bottom: 3em;
    display: grid;
    grid-template-columns: 50% 50%;
}

#contactus-title{
    margin-top: 1em;
}
#contact-us-p{
    text-align: center;
}

.contact-us-main{
    margin: auto;
    margin-top: 3em;
    text-align: center;
}
.contact-us-main h3{
    margin-top: 2em;
}
.contact-us-main p{
    text-align: center;
}

