
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    
}

body{
    font-family: Gemunu libre, sans-serif;
    font-weight: 300;
}

/*Header section style*/

#logo, #navbar {
    line-height: 60px;
}

.logo {
    float: left;
    font-size: 120%;
    margin-left: 30px;
    margin-bottom: 5px;
    cursor: pointer;
    
}

#navbar {
    font-size: 120%;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#navbar li {
    float: right;
    list-style-type: none;
    margin: 15px 30px;
    
}

#navbar a {
    text-decoration: none;
    color: black;
}

#navbar a:hover{
    border-bottom: 1px solid black;
}

.active{
    border-bottom: 1px solid black;
}

/* Main page */

#image-game{
    height: 600px;
    width: 100%;
    background: url(/assets/images/gamer-1.jpg) center;
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 50%;
}

#main-game{
    height: 600px;
    width: 100%;
    overflow: hidden;
    
   /*animation effect */
    animation-name: game-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}


@keyframes game-zoom {
    from{
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }

}




